@model Actor

<div class="card mt-4">
    <div class="card-body d-flex align-items-center">
        <img src="~/images/cast/@Model.ProfilePicture"
             alt="Actor Image"
             class="rounded-circle border me-2"
             width="40" height="40" />
        <span>This is some text within a card body.</span>
    </div>
</div>

